<html>
<head>
  <meta charset="UTF-8">
  <title>The greate world of Terence</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href="/style_sheet.css" rel="stylesheet"/>
</head>

<body>
<div class="wrapper">
  <article class="one_fourth"></article>
  <article class="one_half" id="flash_box">
    <% if flash[:notice] %>
        <p style="color: green"><%= flash[:notice] %>
    <% end %>
  </article>
  <article class="one_forth"></article>
</div>
<%= yield %>
</body>

</html>