<body>
<div class="wrapper">
  <section class="clearfix">
    <article class="one_fourth"></article>
    <article class="one_half">

      <% if session[:user_id] %>

        <% if flash[:login] %>
          <p style="color: black; font-size: 25px"><%= flash[:login] %></p>
        <% end %>

        <h2>Current Users</h2>
        <h4>sort</h4>

        <form action="/sort" method="post">
          <input type="radio" name="order" value="asc" id="asc" select>Ascending<br>
          <input type="radio" name="order" value="desc" id="desc">Descending<br>
          <button type="submit">Sort</button>
        </form>

        <table style="width:300px">
          <tr>
            <td>Users</td>
            <td>Actions</td>
          </tr>
          <tr>
            <% @database_connection.sql(@order_user_string).each do |user| %>
              <% if user["id"] != session[:user_id] %>
                <td><%= user["username"] %></td>
                <td>Delete</td>
              <% end %>
              </tr>
            <% end %>
        </table>

        </form>
        <form action="/logout" method="post">
          <button id="submit_button" type="submit">Logout</button>
        </form>

      <% end %>

    </article>
    <article class="one_fourth"></article>
  </section>
</div>
</body>
